<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css  %}
    {% bootstrap_javascript %}

</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Signup Page</h2>

                    <form action="" method="POST">
                        {% csrf_token %}
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="text" name="username" id="typeEmailX" class="form-control form-control-lg" required />
                      <label class="form-label" for="typeEmailX">User Name</label>
                    </div>

                    <p class="text-danger fw-bold">{{error}}</p>
                    
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" name="password" id="typePasswordX" class="form-control form-control-lg" required  />
                      <label class="form-label" for="typePasswordX">Password</label>
                    </div>
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="text" name="firstname" id="typeEmailX" class="form-control form-control-lg" required  />
                        <label class="form-label" for="typeEmailX">First Name</label>
                      </div>
               
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="text" name="lastname" id="typeEmailX" class="form-control form-control-lg" required  />
                        <label class="form-label" for="typeEmailX">Last Name</label>
                      </div>
          
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="email" name="email" id="typeEmailX" class="form-control form-control-lg" required  />
                        <label class="form-label" for="typeEmailX">Email</label>
                      </div>

                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="number" name="age" id="typeEmailX" class="form-control form-control-lg" required  />
                        <label class="form-label" for="typeEmailX">Age</label>
                      </div>
      
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <select name="role" id="role" class="form-control form-control-lg" required>
                          <option value="0">Admin</option>
                          <option value="1">Manager</option>
                          <option value="2">Employee</option>
                        </select>
                        <label for="role" class="form-label">User Role</label>
                        
                      </div>

                      
      
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">submit</button>
      
                    </div>
      
                  </div>
                    </form>
                  <div>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>